//== Colors
$global-font-black: rgba(0, 0, 0, 0.65);
$deep-bg: rgba(11, 29, 53, 0.91);

//== Font
$global-font-size: 14px;
$logo-font-size: 18px;

//== Width
$nav-width: 8.19%;

//== Height
$header-height: 43px;

//== Position

//== Shape
